{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Salles</title>
    <link rel="stylesheet" href="{% static 'css/sallesStyles2.css' %}">
</head>
<body>

    <h1>Liste des Salles</h1>

    <table>
        <thead>
            <tr>
                <th>Numéro de Salle</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>101</td>
                <td class="vide">Vide</td>
            </tr>
            <tr>
                <td>102</td>
                <td class="pleine">Pleine</td>
            </tr>
            <tr>
                <td>103</td>
                <td class="vide">Vide</td>
            </tr>
            <tr>
                <td>104</td>
                <td class="pleine">Pleine</td>
            </tr>
        </tbody>
    </table>

    <!-- Bouton pour réserver une salle -->
    <div style="text-align: center; margin-top: 20px;">
        <button onclick="window.location.href='{% url 'reserver_salle' %}'">
            Réserver une salle
        </button>
    </div>

</body>
</html>
