{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Poubelles Vides</title>
    <link rel="stylesheet" href="{% static 'css/poubelleStyle.css' %}">
</head>
<body>

    <h1>Liste des Poubelles Vides</h1>

    <table>
        <thead>
            <tr>
                <th>ID Poubelle</th>
                <th>Localisation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Hall d'entrée</td>
            </tr>
            <tr>
                <td>002</td>
                <td>Couloir 1er étage</td>
            </tr>
            <tr>
                <td>003</td>
                <td>Près de la cafétéria</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
