{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ordinateurs Disponibles</title>
    <link rel="stylesheet" href="{% static 'css/ordiStyle.css' %}">
</head>
<body>

    <h1>Liste des Ordinateurs Disponibles</h1>

    <table>
        <thead>
            <tr>
                <th>ID Ordinateur</th>
                <th>Localisation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>PC-001</td>
                <td>Salle 1</td>
            </tr>
            <tr>
                <td>PC-002</td>
                <td>Salle 2</td>
            </tr>
            <tr>
                <td>PC-003</td>
                <td>Salle 3</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
