{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Salles</title>
    <link rel="stylesheet" href="{% static 'css/sallesStyle.css' %}">
</head>
<body>

    <h1>Liste des Salles</h1>

    <table>
        <thead>
            <tr>
                <th>Numéro de Salle</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>101</td>
                <td class="vide">Vide</td>
            </tr>
            <tr>
                <td>102</td>
                <td class="pleine">Pleine</td>
            </tr>
            <tr>
                <td>103</td>
                <td class="vide">Vide</td>
            </tr>
            <tr>
                <td>104</td>
                <td class="pleine">Pleine</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
