{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier la Température</title>
    <link rel="stylesheet" href="{% static 'css/modiftemp.css' %}">
</head>
<body>

    <h1>Modifier la Température</h1>

    <form action="#" method="post">
        {% csrf_token %}

        <label for="salle">Sélectionnez une salle :</label>
        <select id="salle" name="salle" required>
            <option value="Salle 101">Salle 101</option>
            <option value="Salle 102">Salle 102</option>
            <option value="Salle 103">Salle 103</option>
        </select>

        <label for="nouvelle_temp">Nouvelle température (°C) :</label>
        <input type="number" id="nouvelle_temp" name="nouvelle_temp" required>

        <button type="submit">Mettre à jour</button>
    </form>

    <div class="button-container">
        <button onclick="window.location.href='{% url 'temperature_salles2' %}'">Retour</button>
    </div>

</body>
</html>
