{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="{% static 'css/stylepins.css' %}">
</head>
<body>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <p>
      <label for="username">Nom d'utilisateur :</label>
      <input id="username" type="text" name="username" required>
    </p>

    <p>
      <label for="password">Mot de passe :</label>
      <input id="password" type="password" name="password" required>
    </p>

    <p>
      <label for="mail">Adresse e-mail :</label>
      <input id="mail" type="email" name="email" required>
    </p>

    <button type="submit">S'inscrire</button>
  </form>
</body>
</html>
